body{
    margin:0;
    font-family:Arial;
    background:#0f172a;
    color:white;
    text-align:center;
}

h1{
    margin-top:20px;
}

.box{
    width:90%;
    max-width:1000px;
    margin:20px auto;
    background:#1e293b;
    padding:20px;
    border-radius:15px;
}

input,
select{
    width:90%;
    padding:12px;
    margin:10px;
    border:none;
    border-radius:10px;
    font-size:16px;
}

button{
    padding:12px 18px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    margin:5px;
    font-weight:bold;
}

.fileCard{
    background:#334155;
    margin:15px auto;
    padding:15px;
    border-radius:15px;
    width:90%;
    text-align:left;
}

.favorite{
    border-left:8px solid gold;
}

.favoriteBox{
    display:block;
    margin:10px;
    font-size:18px;
}